<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo1</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

    <div class="title1">课堂手机识别系统</div>

    <div class="upload_form">
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="提交"/>
        </form>
    </div>

    <div class="detect">
        <a href="/detect">点击检测</a>
        <img src="../static/exp/sample.jpg">
    </div>





</body>

</html>